


a,
a:focus,
a:hover {
  color: #fff;

}
.photo-container-two{
  max-width: 1200px;
					font-size: 0;
}
#descriptionLimit{
  width: 100%;
  height: 30px;
  background-color: black;
  overflow:hidden;
  white-space:nowrap;
  color: #ffffffb3;
  font-family: 'Monument Extended', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}
#descriptionLimit:hover{
  width: 100%;
  height: 20px;
  background-color: black;
  overflow:hidden;
  white-space:nowrap;
  color: #ffffffb3;
  font-family: 'Monument Extended', sans-serif;
  font-size: 12px;
}

#description{
  position: relative;
  background-color:black;
  color: #ffffffb3;
  -webkit-animation: scroll 30s infinite linear;;
  -moz-animation: scroll 30s infinite linear;
  -o-animation: scroll 30s infinite linear;
  animation: scroll 30s infinite linear;
}

@keyframes scroll{
    0%   {left: 100%;}
    100% {left: -950px;}
}
@-webkit-keyframes scroll{
    0%   {left: 100%;}
    100% {left: -950px;}
}


/* Custom default button */
#start-btn {
  
  background-color: #fff;
  border: .05rem solid #fff;
  font-family: 'Monument Extended', sans-serif;
  text-decoration: none;
    
  }
  #start-btn:hover{
      /* padding: 10px; */
      background-color: #000;
      border: .05rem solid #fff;
    color:#fff;

}

#qImg{
     /* position: absolute; */
  display: inline-block;
  position: relative;
  margin: 1%;
  width: 88%;

}

#qImg img{
  height: auto;
  width: 100%; 
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
   

.photo-container{
  max-width: 1200px;
					font-size: 0;
}
.text-center {
  text-align: center!important;
}

#qImg2{

  /* position: absolute; */
  display: inline-block;
  position: relative;
  margin: 1%;
  width: 30%;



}
#description{
  display: inline-block;
  position: relative;
  margin: 1%;
  width: 20%;
  font-size: 12px;
  color: #212529;

}


#qImg2 img{
 
    height: auto;
    width: 100%; 
    -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
 
}

#qImg3{
 
  /* position: absolute; */
  display: inline-block;
  position: relative;
  margin: 1%;
  width: 30%;
  

}
#qImg3 img{
 
    height: auto;
    width: 100%; 
    -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}


#qImg4{
    /* position: absolute; */
    display: inline-block;
    position: relative;
    margin: 1%;
    width: 30%;

}
#qImg4 img{
  
    height: auto;
    width: 100%; 
    -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

#appraisers{


  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

  
}



.cover-container {
  max-width: 42px;
}

.cover-heading{
    
    font-size: 70px;
    -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  position: relative;
  left: 0%;
   }

   .lead{
   
    -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    position: relative;
}
 
 button {
  color: #ffffff;
  /* background-color:#212529; */
  background-color: #000000;
  top: 310px;
  font-family: 'Monument Extended', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}
button:hover{
color:black;
background-color: #ffffff;
}

.text-center {
  text-align: center!important;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}
#highscores{
  font-family: 'Monument Extended', sans-serif;
  font-size: 12px;
  text-align: center;
  margin: 0;
}
#countdown{
  font-family: 'Monument Extended', sans-serif;
  font-size: 12px;
  color: #ffffffb3;
  text-align: center;
  margin: 0;

  

}

.nav-masthead .nav-link {
  
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

/* .nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
} */

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

#question-container {
   font-family: 'Monument Extended', sans-serif;
    font-size: 27px;

}
  
.content-wrapper {
  max-width: 960px;
}
  

/* #opener{
  background-color: #000000;
  max-width: 42em;
} */

/* #highscores{
    color: white;
    font-family: 'Monument Extended', sans-serif;
    font-size: 10px;
    position: absolute;
    top: 10px;
    left: 0; */
/* } */
/* #countdown{
  color: white;
  font-family: 'Monument Extended', sans-serif;
  position: absolute;
  top: 390px;
  height : 0px;
  width : 200px;
  bottom : 0px;
  text-align: center;
  color: white;
  font-family: 'Monument Extended', sans-serif;
  font-size: 24px;
  -webkit-text-fill-color: black; /* Will override color (regardless of order) */
/* -webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: white; */ 

/*
 * Cover
 */

.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
  color:black;
}



.mastfoot {
  color: rgba(255, 255, 255, .5);
}

body, html {
    background: black;
    height: 100%;
}
p {
  color:white;
}

#noise {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    pointer-events: none;
    z-index: 90;
}

#noise:before {
    content: '';
    position: absolute;
    top: -100%;
    left: -100%;
    height: 300%;
    width: 300%;
    background: url(http://fariskassim.com/stage/codepenstuff/noise.png);
    pointer-events: none;
    display: block;
    opacity: 1;
    -webkit-animation: grain 2s steps(10) infinite;
    animation: grain 2s steps(10) infinite;
    will-change: transform;
}


 @-webkit-keyframes grain{0%,to{-webkit-transform:translate(0);transform:translate(0)}10%{-webkit-transform:translate(-5%,-10%);transform:translate(-5%,-10%)}20%{-webkit-transform:translate(-15%,5%);transform:translate(-15%,5%)}30%{-webkit-transform:translate(7%,-25%);transform:translate(7%,-25%)}40%{-webkit-transform:translate(21%,25%);transform:translate(21%,25%)}50%{-webkit-transform:translate(-25%,10%);transform:translate(-25%,10%)}60%{-webkit-transform:translate(15%,5%);transform:translate(15%,5%)}70%{-webkit-transform:translateY(15%);transform:translateY(15%)}80%{-webkit-transform:translate(25%,35%);transform:translate(25%,35%)}90%{-webkit-transform:translate(-10%,10%);transform:translate(-10%,10%)}}@keyframes grain{0%,to{-webkit-transform:translate(0);transform:translate(0)}10%{-webkit-transform:translate(-5%,-10%);transform:translate(-5%,-10%)}20%{-webkit-transform:translate(-15%,5%);transform:translate(-15%,5%)}30%{-webkit-transform:translate(7%,-25%);transform:translate(7%,-25%)}40%{-webkit-transform:translate(21%,25%);transform:translate(21%,25%)}50%{-webkit-transform:translate(-25%,10%);transform:translate(-25%,10%)}60%{-webkit-transform:translate(15%,5%);transform:translate(15%,5%)}70%{-webkit-transform:translateY(15%);transform:translateY(15%)}80%{-webkit-transform:translate(25%,35%);transform:translate(25%,35%)}90%{-webkit-transform:translate(-10%,10%);transform:translate(-10%,10%)}}
@-webkit-keyframes grain2{0%,to{-webkit-transform:translate(0);transform:translate(0)}10%{-webkit-transform:translate(-1%,-2%);transform:translate(-1%,-2%)}20%{-webkit-transform:translate(-2%,1%);transform:translate(-2%,1%)}30%{-webkit-transform:translate(3%,-5%);transform:translate(3%,-5%)}40%{-webkit-transform:translate(5%,5%);transform:translate(5%,5%)}50%{-webkit-transform:translate(-5%,2%);transform:translate(-5%,2%)}60%{-webkit-transform:translate(3%,1%);transform:translate(3%,1%)}70%{-webkit-transform:translateY(3%);transform:translateY(3%)}80%{-webkit-transform:translate(5%,7%);transform:translate(5%,7%)}90%{-webkit-transform:translate(-2%,2%);transform:translate(-2%,2%)}}@keyframes grain2{0%,to{-webkit-transform:translate(0);transform:translate(0)}10%{-webkit-transform:translate(-1%,-2%);transform:translate(-1%,-2%)}20%{-webkit-transform:translate(-3%,1%);transform:translate(-3%,1%)}30%{-webkit-transform:translate(3%,-5%);transform:translate(3%,-5%)}40%{-webkit-transform:translate(5%,5%);transform:translate(5%,5%)}50%{-webkit-transform:translate(-5%,2%);transform:translate(-5%,2%)}60%{-webkit-transform:translate(3%,1%);transform:translate(3%,1%)}70%{-webkit-transform:translateY(5%);transform:translateY(5%)}80%{-webkit-transform:translate(5%,7%);transform:translate(5%,7%)}90%{-webkit-transform:translate(-2%,2%);transform:translate(-2%,2%)
}} 


  
@font-face {
  font-family: 'grandslangb-side';
  src: ursl('grandslang-b-side-webfont.woff2') format('woff2'),
       url('grandslang-b-side-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  
  }

  @font-face {
      font-family: 'monument_extendedregular';
      src: url('monumentextended-regular-webfont.woff2') format('woff2'),
           url('monumentextended-regular-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  
  }

 
  @keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
  

    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    } 

  }
  
  @keyframes slide-in-top {
    0% { 
    -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    } 
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }

 ::before, ::after{ 
  -webkit-box-sizing:padding-box;
    box-sizing:padding-box;
 }
    .masthead-brand {
      margin-bottom: 0;
  }

  .h-100 {
    height: 100%!important;
  }
  
  .mastfoot {
    color: rgba(255, 255, 255, .5);
}
.mt-auto, .my-auto {
  margin-top: auto!important;
}
  p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.content-wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
}


@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
